
.page-header
  %h1 Listing Tweets

.table-responsive
  %table.table.table-striped.table-bordered.table-hover


    %tbody
      - @tweets.each do |tweet|
        %tr
          %td
            %p
              = tweet.hearts.count
              = link_to like_tweet_path(tweet) do
                %i.fa.fa-heart{"aria-hidden" => "true"}
              = tweet.username
              = distance_of_time_in_words_to_now(tweet.created_at)
              ago
            %p
              = tweet.text
